.shop{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: antiquewhite;
    padding: 30px 100px 0px 100px;

}
.shop img{
    width: 500px;
}
.shop h1{
    font-size: 40px;
    width: 500px;
}
.shop p{
    width: 500px;
}
.shop button{
    border-radius: 8px;
    background: #E55473;
    color: white;
    padding: 10px 20px;
}
.flower{
    text-align: center;
}
.tulip{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Fresh{
    display: flex;
justify-content: space-around;
}
.delivery{
    background-color: rgb(16, 116, 116);
    margin: 50px 100px ;
    padding: 40px;
    text-align: center;
   
   
}
.man{
    display: flex;
    justify-content: space-around;
}
.vase{
    display: flex;
    justify-content: center;
    align-items: center;background-color: aqua;
    padding: 30px 100px ;
}
.vase button{
    border-radius: 8px;
    background: #E55473;
    color: white;
    padding: 10px 20px;   
}
.queen{
    text-align: center;
}
.queen img{
    width: 300px; 
}
.golden{ text-align: center;
    background-image: url('Rectangle\ 9.png');
    background-repeat: no-repeat;
    margin: 100px 200px;
    padding: 100px;

}
.golden h2{
    font-size: 40px;
}
.golden input{
    width: 500px ;
    height: 50px;
    border: none;
    
}
.black{
    text-align: center;
    padding: 100px;
    background-color: black;
    color: white;
}.black span{
    color: #E55473;
}

   


    
    



